.app-header {
    background: linear-gradient(#158e7a, #21c7cd);
    color: #020200;
    padding-block: 1em;
    margin-block-end: 1em;
}

.app-nav {
    display: flex;
    gap: 15px;
}

@media(max-width: 720px) {
    .app-header {
        color: #020200;
    }
}