.toy-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, 150px);
    gap: 5px;

}

.toy-list li {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--clr1bg);
    padding: .4em;
}