@mixin a-direct($color: black) {
    position: absolute;
    padding: 10px;
    border-radius: 100px;
    border: solid 2px $color;
    color: $color;

    &:hover {
        transition: 0.7s;
        cursor: pointer;
        background-color: $color;
        color: white;
    }
}