header.app-header {
    font-family: edu;

    .header-container {
        display: grid;
        grid-template-columns: 1fr 3fr;
        align-items: end;

        .app-nav {
            grid-column: 2/-1;
            display: flex;
            align-content: center;
            justify-content: space-around;
            margin-inline-end: 20px;
            font-size: rem(20px);

            a {
                padding: rem(20px) rem(20px);

                &:hover {
                    color: $clr3;
                }
            }

            .user-container {
                display: flex;
                align-items: center;
                gap: 1rem;

                .user-img {
                    width: 3rem;
                    margin: auto;
                }

                a {
                    padding: 10px;
                    border-radius: 100px;
                    border: solid 2px #6161FF;
                    color: #6161FF;
                    transition: 0.4s;

                    &:hover {
                        background-color: #6161FF;
                        color: whitesmoke;
                    }
                }
            }

        }
    }

    .toy-logo {
        z-index: 10;
        width: 15rem;
    }


}