header.app-header {
    font-family: edu;

    .header-container {
        display: grid;
        grid-template-columns: 1fr 3fr;
        align-items: end;

        .app-nav {
            grid-column: 2/-1;
            display: flex;
            align-content: center;
            justify-content: space-around;
            margin-inline-end: 20px;
            font-size: rem(20px);

            a {
                padding: rem(20px) rem(20px);

                &:hover {
                    color: $clr3;
                }
            }
        }
    }

    .toy-logo {
        z-index: 10;
        width: 15rem;
    }


}