.review-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    list-style-type: none;
    gap: 15px;

    li {
        display: flex;
        justify-content: center;
        border: 1px solid grey;
        background: linear-gradient($clr2bg-light, $clr1bg-light);
        box-shadow: 0 24px 64px #26214a1a;
        border-radius: 12px;
        padding: 5px 10px;

        transition: .3s;

        &:hover {
            transform: translateY(-8px);
        }

        .created-at {
            display: flex;
            align-items: center;
            gap: 8px;
        }
    }
}